// Custom styles.

// 默认目录展开
.post-toc .nav .nav-child { display: block; }

// 默认背景
body {
  background-image: url("http://7xqfqq.com1.z0.glb.clouddn.com/blog_bg.jpg");
}
.main-inner {
  background:#FFFFFF;
  padding:40px;
}